<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="common/apply_header :: head"></head>
<body>
<!-- 主页面 -->
<div id="app">
	<div class="Contentfilling">
		<div style="width: 99%;margin-top: 5px;">
			<div th:insert="~{common/apply/apply_tabs :: copytabs}"></div>
		</div>
		<div style="width: 99%;margin-top: 0px" v-for="(itemS, index) in editableTabs">
			<el-collapse v-model="itemS.activeName" accordion @change="handelCurrentCollapse"  v-if="editableTabsValue == itemS.name">
				<el-collapse-item name="1">
					<template slot="title">
						<div class="cf-title" style="width: 99%">
							<el-tooltip class="item" effect="dark" content="*为必填项" placement="top">
								<p style="">基本信息/材料上传</p>
							</el-tooltip>
						</div>
					</template>
					<div style="margin-top: 5px;width: 90%;margin-left: 5%;">
						<div class="infostyle">
							<div class="tstitle">
								<p><a style="color:#ff557f;">*</a>项目名称:</p>
							</div>
							<div class="inputstyle" style="width: 950px;">
								<el-input id="input-xmname" v-model="itemS.xmname" placeholder="请输入项目名称"
										  @change="showtopart2btn=true"></el-input>
							</div>
						</div>
						<div class="infostyle">
							<div class="tstitle">
								<p><a style="color:#ff557f;">*</a>批准单位:</p>
							</div>
							<div class="inputstyle">
								<el-input v-model="itemS.xmdepartment" placeholder="请输入批准单位"></el-input>
							</div>
						</div>
						<div class="infostyle">
							<div class="tstitle" style="margin-left: 8px;">
								<p>添加备案:</p>
							</div>
							<div class="inputstyle" style="margin-left: -8px;">
								<el-select style="width: 100%;" v-model="itemS.xmRecord" filterable allow-create
										   default-first-option placeholder="请选择项目备案" clearable>
									<el-option v-for="itemC in Recordoptions" :key="itemC.value" :label="itemC.label"
											   :value="itemC.value">
									</el-option>
								</el-select>
							</div>
						</div>
						<div class="infostyle">
							<div class="tstitle" style="margin-left: 8px;">
								<p>备注:</p>
							</div>
							<div class="inputstyle" style="width: 950px; margin-left: -8px;">
								<el-input v-model="itemS.xmremark" placeholder="请输入备注"></el-input>
							</div>
						</div>
						<div class="cf-title" style="float: left;width: 100%;margin-top: 30px;">
							<el-tooltip class="item" effect="dark" content="*能上传多个jpg/png/pdf文件，且不超过5M" placement="top">
								<p style="margin-top: -20px;">文件上传</p>
							</el-tooltip>
						</div>
						<div class="uploaddiv" style="margin-top: 20px;">
							<el-upload list-type="text"
									   :file-list="itemS.fileList"
									   drag
									   :auto-upload="false"
									   :on-change="handleChangeFile"
									   action="#"
									   accept=".pdf,.jpg,.doc,.png,.docx"
									   multiple
									   ref="upload"
									   :limit="10"
									   :on-exceed="handleExceed"
									   :on-remove="handleRemove"
									   :before-remove="beforeRemove">
								<i class="el-icon-upload"></i>
								<div class="el-upload__text" style="font-weight: bold">
									<div class="el-upload__text" style="font-weight: bold">将文件拖到此处，或<em>点击上传</em></div>
									<div class="el-upload__text" style="font-weight: bold">只能上传<em>10</em>个<em>jpg/png/pdf/word</em>文件，且不超过<em>5M</em></div>
								</div>
							</el-upload>
						</div>
					</div>
				</el-collapse-item>
				<el-collapse-item name="2">
					<template slot="title">
						<div class="cf-title" style="width: 99%">
							<el-tooltip class="item" effect="dark" content="*请选择类别进行申请" placement="top">
								<p style="">类别选择</p>
							</el-tooltip>
						</div>
					</template>
					<div style="width: 90%;margin-left: 5%;">
						<el-table @selection-change="handleSelectionChange" :ref="'tb' + index" highlight-current-row
								  highlight-selection-row height="400" :data="tableData"
								  @row-click="handleCurrentChange" style="width: 100%">
							<el-table-column type="selection"></el-table-column>
							<el-table-column prop="lname" label="项目类别" width="700"></el-table-column>
							<el-table-column prop="foundScore" label="立项(分)"></el-table-column>
							<el-table-column prop="checkScore" label="验收(分)"></el-table-column>
						</el-table>
					</div>
					<div style="width: 90%;margin-left: 5%;">
						<div class="infostyle" style="margin-top: 15px;margin-left: 8px">
							<div class="tstitle">
								<p>项目附则:</p>
							</div>
							<div class="inputstyle" style="margin-left: -8px;width: 950px;">
								<el-select style="width: 100%;" v-model="itemS.additional" filterable clearable
										   default-first-option placeholder="请选择项目附则" @change="changeAdditional"
										   @clear="clearSelection">
									<el-option v-for="(itemA,index) in secondTableData" :key="index" :label="itemA.content" :value="itemA.rid">
									</el-option>
								</el-select>
							</div>
						</div>
						<div class="infostyle" style="margin-top: 15px;margin-left: 8px">
							<div class="tstitle">
								<p>项目附则:</p>
							</div>
							<div class="inputstyle" style="margin-left: -8px;width: 950px;">
								<div class="tstitle" style="width: 100%;">
									<span v-for="(items,index) in secondTableData" v-if="items.rid == itemS.roles" v-html="items.content"></span>
								</div>
							</div>
						</div>
					</div>
					<div style="width: 90%;margin-left: 5%;">
						<div class="infostyle" style="margin-top: 15px;margin-bottom: 15px;">
							<div class="tstitle" style="margin-left: 8px;">
								<p><a style="color:#ff557f;">*</a>立项/验收:</p>
							</div>
							<div class="inputstyle" style="margin-left: -8px;width: 250px;">
								<el-select style="width: 100%;" v-model="itemS.xmlory" multiple filterable allow-create default-first-option
										   placeholder="请选择立项/验收" @change="selectChange">
									<el-option v-for="itemB in loryoptions" :key="itemB.value" :label="itemB.label" :value="itemB.value">
									</el-option>
								</el-select>
							</div>
						</div>
						<div class="infostyle" style="margin-left: 40px;margin-top: 15px;margin-bottom: 15px;">
							<div class="tstitle">
								<p><a style="color:#ff557f;">*</a>团队/个人:</p>
							</div>
							<div style="float: left;width: 150px;">
								<el-radio-group v-model="itemS.oneorteam">
									<el-radio-button label="0" >个人</el-radio-button>
									<el-radio-button label="1" >团队</el-radio-button>
								</el-radio-group>
							</div>
						</div>
						<div class="infostyle" v-if="itemS.oneorteam==0" style="margin-left: 20px;margin-top: 15px;margin-bottom: 15px;">
							<div class="tstitle">
								<p><a style="color:#ff557f;">*</a>申请人:</p>
							</div>
							<div class="inputstyle" style="width: 250px;margin-left: -20px;">
								<el-input v-model="itemS.nowPeople" :disabled="true"></el-input>
							</div>
						</div>
						<div class="infostyle" v-if="itemS.oneorteam==1" style="margin-left: 50px;margin-top: 15px;" id="cdfp">
							<el-button type="primary" @click="pdlory" style="width: 260px" plain>选择成员与分数分配</el-button>
						</div>
					</div>
				</el-collapse-item>
			</el-collapse>
		</div>
	</div>
	<div class="bottomcard" style="margin-bottom: 5px;"  th:insert="~{common/apply/apply_bottom :: copybottom}">
	</div>
	<el-dialog :visible.sync="editableTabs[editableTabsValue].dialogVisible" width="760px" :before-close="handleClose" center>
		<div>
			<div style="font-size: 15px;color: #4c4c4c;font-weight: bold;margin-top: -35px;">
				<p style="">当前您可分配的分数为：<a style="color: #0081fe;">{{editableTabs[editableTabsValue].showfs}}</a></p>
			</div>
			<div class="cytitle" style="margin-top: 10px;">
				<div style="float: left;margin-left: 20%;"><p>姓名</p></div>
				<div style="float: left;margin-left: 29%;"><p>分数</p></div>
				<el-button type="primary" size="mini" style="float: left;margin-left: 200px;margin-top: -5px;" @click="addpeople">添加</el-button>
			</div>
			<div style="position: absolute;top: 90px;font-weight: bold;">
				<a>主持人</a>
			</div>
			<el-input v-model="default_options.label" :disabled="true" style="margin-left: 58px;width: 220px;margin-bottom: 10px;margin-top: 13px" >{{default_options.label}}</el-input>
			<el-input placeholder="请输入分数" style="width: 210px;margin-bottom: 10px;margin-top: 13px;margin-left: 12px;" v-model="editableTabs[editableTabsValue].inputScore" @input="losefs(editableTabs[tabIndex].inputScore)"></el-input>
			<div style="width: 90%;margin-left: 5%;float: left;padding-bottom: 10px;" v-for="(items,index) in editableTabs[editableTabsValue].xmpeopleop" :key="index">
				<div class="inputstyle" style="width: 220px;margin-left: 20px;margin-top: 10px;">
					<el-select style="width: 100%;" v-model="items.name"filterable allow-create
							   default-first-option  placeholder="请输入姓名" clearable :filter-method="filterMethod"
							   @change="handleSelectChange(index, items.name)" @clear="handleClear(index, items.name)"
							   @focus="clearOptions">
						<el-option v-for="itemes in options" :key="itemes.value" :label="itemes.label" :value="itemes.value">
						</el-option>
					</el-select>
				</div>
				<div class="inputstyle" style="width: 210px;margin-left: 20px; margin-top: 10px;">
					<el-input v-model="items.value" placeholder="请输入分数" @input="losefs(items.value,items)"></el-input>
				</div>
				<div style="float: left;margin-top: 15px;margin-left: 100px;">
					<el-button type="danger" plain size="small" @click="deleteone(index)">删除</el-button>
				</div>
			</div>
		</div>
		<span slot="footer" class="dialog-footer">
			<el-button type="primary" @click="cmfs()">确 定</el-button>
		</span>
	</el-dialog>
</div>
<!--js-->
<script type="text/javascript">
	new Vue({
		el: "#app",
		data: {
			applyPageName:'科研平台',
			chinesedata:['一','二','三','四','五','六'],// 中文数字
			xmfs:0,// 项目能分配的分数
			xmlory: "",// 立案还是验收
			oneorteam: "0",//团队还是个人
			card1: true, // 是否显示基础信息卡
			card2: false, // 是否显示选择项目类别卡
			card3: false, // 是否显示提交卡
			active: "1", // 进度条参数
			xmname: "", // 项目名称
			xmdepartment: "", // 项目批准部门
			xmpeople: '', // 申请人
			nowPeople:"",  //个人申请 当前用户为申请人
			xmRecord: "", // 项目备案
			xmremark: "", // 项目备注
			defaultScore:"",  // 当前用户输入的分数
			showtopart2btn: false, // 是否显示基础信息下一步按钮
			editableTabs: [
				{
					title: '新建申报一',
					name: '0',
					activeName: '1',// 折叠面板参数
					xmname: "", // 项目名称
					xmdepartment: "", // 项目批准部门
					xmpeopleop:[],
					nowPeople:"",  //个人申请 当前用户为申请人
					xmRecord: "", // 项目备案
					xmremark: "", // 项目备注
					defaultScore:0,  // 当前用户输入的分数
					fileList: [],// 文件列表,
					additional:[] ,//项目附则选择的值
					xmlory:"",
					Lname:[],        //项目类型
					oneorteam: "0", //团队还是个人,
					inputScore:0,
					xmfs:0,// 项目能分配的分数
					roles:"",
					dialogVisible: false, // 是否显示成员选择与分数分配弹窗
					showfs:0,// 用于显示的分数
					standbyffs:0,//备用分数用于 减分后 分数不够问题
				}
			],//标签页数组
			tabIndex: 0,//当前标签的下标
			editableTabsValue: '0',//标签页默认选中
			qr:false,// 是否确认信息填写完毕
			secondTableData: [],
			additional:[] , //项目附则选择的值
			xmpeopleop:[{
				name:"",
				value:""
			}],
			// 选择立项还是验收列表
			loryoptions:[{
				value: '立项',
				label: '立项'
			},{
				value: '验收',
				label: '验收'
			}],
			// 选择项目备案列表
			Recordoptions: [],
			multipleSelection: [], // 选择的级别/类别
			// 选择申请人列表
			options: [],
			// 成员表
			peopletableData:[],
			// 类别表
			tableData: [],
			// 文件列表
			fileList: [],
			default_options:{
				label:'',
				value:'',
			},
			selectIsUsed:[],
			allSuccess:true,          // 全部提交成功
			isChecked: false,
		},
		created(){
			this.queryRecord();
			this.queryLname();
			this.addnowPeople();
		},
		mounted(){
			document.getElementById("input-xmname").focus();
		},
		methods: {
			handleTabsEdit(currentName, action) {
				var item = sessionStorage.getItem("user");
				var parse = JSON.parse(item);
				var nickname = parse.user.nickname;
				const _this = this;
				//添加标签页
				if (currentName === 'add') {
					if ((_this.editableTabs.length) <= 5) {
						let newTabIndex = ++_this.tabIndex + '';
						_this.editableTabs.push({title: '新建申报' + this.chinesedata[_this.tabIndex], name: newTabIndex,
							xmname: "", // 项目名称
							xmdepartment: "", // 项目批准部门
							xmpeopleop:[], // 申请人
							nowPeople:nickname,  //个人申请 当前用户为申请人
							xmRecord: "", // 项目备案
							xmremark: "", // 项目备注
							fileList: [],// 文件列表
							allfinish:0,
							additional:[] ,//项目附则选择的值
							defaultScore:0,  // 当前用户输入的分数
							xmlory:"",
							Lname:[],
							oneorteam: "0",  //团队还是个人
							inputScore:0,
							roles:"",
							activeName: '1',// 折叠面板参数
							dialogVisible: false, // 是否显示成员选择与分数分配弹窗
							showfs:0,// 用于显示的分数
							standbyffs:0,//备用分数用于 减分后 分数不够问题
						});
						_this.editableTabsValue = newTabIndex;
					} else {
						_this.$notify({
							title: '温馨提示',
							dangerouslyUseHTMLString: true,
							message: '<p style="margin-top: -5px;font-weight: bold">一次只能申请6个!</p>',
							position: 'top-left'
						});
					}
					return false;
				} else {
					setTimeout(tmp => {
						let tb = _this.$refs['tb' + currentName][0];
						tb.selection.push(_this.editableTabs[currentName].Lname);
						if (tb.selection.length > 0) {
							tb.toggleRowSelection(tb.selection.pop())
						}
						_this.editableTabsValue = currentName;
					}, 100)

				}
			},
			// 删除标签页
			removeTab(targetName) {
				const _this = this;
				//删除标签页
				if (_this.editableTabs.length <= 1) {
					_this.$notify({
						title: '温馨提示',
						dangerouslyUseHTMLString: true,
						message: '<p style="margin-top: -5px;font-weight: bold">最后一个了哦,不允许删除!</p>',
						position: 'top-left'
					});
					return false;
				}
				let tabs = _this.editableTabs;
				_this.editableTabs = tabs.filter(tab => tab.name !== targetName);
				for (let i = 0; i < _this.editableTabs.length; i++) {
					if (_this.editableTabs[i].name != i) {
						_this.editableTabs[i].name = i + '';
						_this.editableTabs[i].title = "新增申报" + this.chinesedata[i];
					}
				}
				_this.editableTabsValue = _this.editableTabs[_this.editableTabs.length - 1].name;
				_this.tabIndex = (_this.editableTabs.length - 1);
			},
			//添加当前用户
			addnowPeople(){
				var item = sessionStorage.getItem("user");
				var parse = JSON.parse(item);
				var nickname = parse.user.nickname;
				this.editableTabs.forEach(tab => {
					tab.nowPeople = nickname;
				});
			},
			// 选择附则
			changeAdditional(value) {
				this.editableTabs[this.editableTabsValue].roles=value
				const selectedItem = this.secondTableData.find(item => item.rid === value);
				this.editableTabs[this.editableTabsValue].Lname = selectedItem
			},
			clearOptions() {
				this.options = [];
			},
			//监听select值发生变化的方法
			filterMethod(query, option) {
				this.options = [
					// 其他选项
				];
				var item = sessionStorage.getItem("user");
				var parse = JSON.parse(item);
				var username = parse.user.username;
				let data = []
				if (query.length >= 1) {
					axios.get("../record/query_user", {params: {username: query}}).then(res => {
						data = res.data.data
						this.options = data
								//this.selectIsUsed 数组里面存的是id，例如 : 0:"2",1:"34"  现在我要过滤查出来的用户id为2和34的不添加到options中
								.filter(item => item.username !== username && !this.selectIsUsed.includes(item.id.toString())) // 过滤与当前登录用户相同的选项
								.map(item => ({
									label: item.nickname + ' ' + item.username,
									value: item.nickname + ',' + item.id
								}));
					});
				}
			},
			handleSelectChange(index, value) {
				// Add the value to selectIsUsed array at the given index
				if (value!=''){
					var split = value.split(",");
					this.$set(this.selectIsUsed, index, split[1]);
				}
			},
			handleClear(index, value) {
				// Remove the value from selectIsUsed array at the given index
				this.$delete(this.selectIsUsed, index);
			},
			//文件上传方法
			handleChangeFile(file, fileList) {
				const allowedExtensions = ['jpg', 'png', 'pdf', 'doc', 'docx'];
				const fileExtension = file.name.split('.').pop();
				if (file.size / 1024 / 1024 < 5 && allowedExtensions.includes(fileExtension.toLowerCase())) {
					this.editableTabs[this.editableTabsValue].fileList.push(file);
				} else {
					if (file.size / 1024 / 1024 >= 5) {
						this.$message('超出文件大小,请重新上传!');
					} else {
						this.$message('不支持的文件类型');
					}
					this.handleRemove(file);
				}
			},
			//文件超出方法
			handleExceed(files, fileList) {
				this.$message.error('最多只能上传 10 个文件');
			},
			//不满足选择逻辑处理
			handleRemove(file, fileList) {
				this.editableTabs[this.editableTabsValue].fileList = this.editableTabs[this.editableTabsValue].fileList.filter((f) => file.name !== f.name)
				// 强制刷新组件以更新文件列表
				this.$forceUpdate();
			},
			handelCurrentCollapse(activeNames){
				//选中类别选择时 加载 细则
				if(activeNames == '2'){
					this.queryRoles();
				}
			},
			//文件移除
			beforeRemove(file, fileList) {
				return this.$confirm(`确定移除 ${file.name}？`);
			},
			//查询已提交的备案
			queryRecord(){
				var item = sessionStorage.getItem("user");
				var parse = JSON.parse(item);
				var username = parse.user.username;
				var params = new URLSearchParams();
				params.append("username",username);
				axios.post("../scientificApplyInfo/queryRecords",params).then(res=>{
					this.Recordoptions=res.data.data.map(item=>({
						value: item.id,
						label: item.name
					}))
				})
			},
			//查询科研平台的项目类型
			queryLname(){
				axios.post("../scientificApplyInfo/queryLname").then(res=>{
					this.tableData=res.data.data
				})
			},
			// 确定分数分配
			cmfs(){

				if(this.editableTabs[this.editableTabsValue].showfs!= 0){
					this.$notify({title: '提示', message: '您还有'+this.editableTabs[this.editableTabsValue].showfs+'分未进行分配，请分配完再进行确定', position: 'top-left', type: 'error'});
					this.$forceUpdate();
				}else{
					var res = 0;
					for (let i in this.editableTabs[this.editableTabsValue].xmpeopleop) {
						if(this.editableTabs[this.editableTabsValue].xmpeopleop[i].name==""||this.editableTabs[this.editableTabsValue].xmpeopleop[i].value==""){
							res = 0;
							break
						}else{
							res = 1;
						}
					}
					if(res==0){
						this.$notify({title: '提示', message: '请填写完整申请人信息,再进行下一步', position: 'top-left', type: 'error'});
					}else{
						this.editableTabs[this.editableTabsValue].dialogVisible = false;
					}
				}
			},scoreVerificationReset(row){
				//分数验证和重置
				const _this = this;
				let tempRow = row;
				if(typeof (row) =="undefined" || row ==null){
					// 有可能主持人
					tempRow ={name:_this.default_options.label, value:_this.editableTabs[_this.editableTabsValue].inputScore};
				}

				if(_this.editableTabs[_this.editableTabsValue].xmpeopleop.length <= 0){
					if(_this.editableTabs[_this.editableTabsValue].standbyffs - Number(tempRow.value) <0){
						_this.$notify({title: '提示', message: '您可分配的分数不足，请重新调整成员分数分配!', position: 'top-left', type: 'error'});
						_this.editableTabs[_this.editableTabsValue].showfs = ((_this.editableTabs[_this.editableTabsValue].standbyffs - Number(tempRow.value))).toFixed(2);
						return 1;
					}
				}else{
					let tmepfs = 0;
					for (let i in _this.editableTabs[_this.editableTabsValue].xmpeopleop) {
						tmepfs += Number(_this.editableTabs[_this.editableTabsValue].xmpeopleop[i].value);
					}
					let tmep = Number(_this.editableTabs[_this.editableTabsValue].inputScore) + Number(tmepfs);
					if((_this.editableTabs[_this.editableTabsValue].standbyffs - tmep) < 0){
						_this.editableTabs[_this.editableTabsValue].showfs = (_this.editableTabs[_this.editableTabsValue].standbyffs - tmep + Number(tempRow.value) ).toFixed(2);
						_this.$notify({title: '提示', message: '您可分配的分数不足，请重新调整成员分数分配', position: 'top-left', type: 'error'});
						return -1;
					}
				}
			},
			// 减去已分配分数
			losefs(value,row){

				if(!isNaN(Number(value))){
					let status = this.scoreVerificationReset(row);
					if(status == -1){
						row.value = 0;
						return;
					}else if(status == 1){
						this.editableTabs[this.editableTabsValue].inputScore =0;
					}

					if(this.editableTabs[this.editableTabsValue].showfs<=0){
						//this.$notify({title: '提示', message: '您可分配的分数不足，请重新调整成员分数分配', position: 'top-left', type: 'error'});
						this.editableTabs[this.editableTabsValue].showfs = this.editableTabs[this.editableTabsValue].xmfs;
						this.editableTabs[this.editableTabsValue].showfs= (this.editableTabs[this.editableTabsValue].showfs-this.editableTabs[this.editableTabsValue].inputScore).toFixed(2)
						for (let i in this.editableTabs[this.editableTabsValue].xmpeopleop) {
							this.editableTabs[this.editableTabsValue].showfs = (this.editableTabs[this.editableTabsValue].showfs - this.editableTabs[this.editableTabsValue].xmpeopleop[i].value).toFixed(2)
						}
						return;
					}else{
						this.editableTabs[this.editableTabsValue].showfs = this.editableTabs[this.editableTabsValue].xmfs;
						this.editableTabs[this.editableTabsValue].showfs =  (this.editableTabs[this.editableTabsValue].showfs-this.editableTabs[this.editableTabsValue].inputScore).toFixed(2);
						for (let i in this.editableTabs[this.editableTabsValue].xmpeopleop) {
							this.editableTabs[this.editableTabsValue].showfs = (this.editableTabs[this.editableTabsValue].showfs - this.editableTabs[this.editableTabsValue].xmpeopleop[i].value).toFixed(2)
						}
					}
				}else{
					this.$notify({title: '提示', message: '字数输入不正确，请输入数值（数字）', position: 'top-left', type: 'error'});
				}
			},
			// 添加成员
			addpeople(){
				if(this.editableTabs[this.editableTabsValue].showfs!=0){
					this.editableTabs[this.editableTabsValue].xmpeopleop.push({name:"", value:0});
				}else{
					this.$notify({title: '提示', message: '分数已分配完不可添加成员，如想继续添加成员请调整成员分数分配', position: 'top-left', type: 'error'});
				}
			},
			// 删除成员
			deleteone(index){
				this.editableTabs[this.editableTabsValue].xmpeopleop.splice(index,1);
				this.editableTabs[this.editableTabsValue].showfs = this.editableTabs[this.editableTabsValue].xmfs
				this.editableTabs[this.editableTabsValue].showfs = this.editableTabs[this.editableTabsValue].showfs - this.editableTabs[this.editableTabsValue].inputScore;
				for (let i in this.editableTabs[this.editableTabsValue].xmpeopleop) {
					this.editableTabs[this.editableTabsValue].showfs = this.editableTabs[this.editableTabsValue].showfs - this.editableTabs[this.editableTabsValue].xmpeopleop[i].value;
				}
				/*if(this.editableTabs[this.editableTabsValue].xmpeopleop.length == 1){
					this.$notify({title: '提示', message: '已经是最后一个人啦，必须要有一个主持人哦', position: 'top-left', type: 'error'});
				} else {
					this.editableTabs[this.editableTabsValue].xmpeopleop.splice(index,1)
					this.editableTabs[this.editableTabsValue].showfs = this.editableTabs[this.editableTabsValue].xmfs
					this.editableTabs[this.editableTabsValue].showfs=this.editableTabs[this.editableTabsValue].showfs-this.editableTabs[this.editableTabsValue].defaultScore
					for (let i in this.editableTabs[this.editableTabsValue].xmpeopleop) {
						this.editableTabs[this.editableTabsValue].showfs = this.editableTabs[this.editableTabsValue].showfs - this.editableTabs[this.editableTabsValue].xmpeopleop[i].value
					}
				}*/
			},
			// 可分配分数初步判断与赋值
			pdlory(){
				var item = sessionStorage.getItem("user");
				var parse = JSON.parse(item);
				var username = parse.user.username;
				var nickname = parse.user.nickname;
				var id = parse.user.id;
				this.default_options.value=nickname + ',' + id
				this.default_options.label=nickname + ' ' + username
				if (this.editableTabs[this.editableTabsValue].additional.length!=0){
					const selectedItem = this.secondTableData.find(item => item.rid === this.editableTabs[this.editableTabsValue].additional);
					this.editableTabs[this.editableTabsValue].Lname = selectedItem
				}

				if(typeof (this.editableTabs[this.editableTabsValue].Lname) =="undefined"){
					this.$notify({title: '提示', message: '请选择项目类别和立项/验收,再进行选择成员与分数分配', position: 'top-left', type: 'error'});
					return;
				}

				if(this.editableTabs[this.editableTabsValue].xmlory.toString() == "立项"){
					this.editableTabs[this.editableTabsValue].xmfs = parseInt(this.editableTabs[this.editableTabsValue].Lname.foundScore)
				} else if (this.editableTabs[this.editableTabsValue].xmlory.toString() == "验收") {
					this.editableTabs[this.editableTabsValue].xmfs = parseInt(this.editableTabs[this.editableTabsValue].Lname.checkScore)
				} else if (this.editableTabs[this.editableTabsValue].xmlory.toString() == "立项,验收") {
					this.editableTabs[this.editableTabsValue].xmfs = parseInt(this.editableTabs[this.editableTabsValue].Lname.checkScore) + parseInt(this.editableTabs[this.editableTabsValue].Lname.foundScore)
				} else if (this.editableTabs[this.tabIndex].xmlory.toString() == "验收,立项") {
					this.editableTabs[this.editableTabsValue].xmfs = parseInt(this.editableTabs[this.editableTabsValue].Lname.checkScore) + parseInt(this.editableTabs[this.editableTabsValue].Lname.foundScore)
				}

				if(this.editableTabs[this.editableTabsValue].xmlory.length == 0){
					this.$notify({title: '提示', message: '请选择项目类别和立项/验收,再进行选择成员与分数分配', position: 'top-left', type: 'error'});
					return;
				}

				this.editableTabs[this.editableTabsValue].showfs = this.editableTabs[this.editableTabsValue].xmfs;
				this.editableTabs[this.editableTabsValue].showfs = this.editableTabs[this.editableTabsValue].showfs-this.editableTabs[this.editableTabsValue].defaultScore;
				for (let i in this.editableTabs[this.editableTabsValue].xmpeopleop) {
					this.editableTabs[this.editableTabsValue].showfs = this.editableTabs[this.editableTabsValue].showfs - this.editableTabs[this.editableTabsValue].xmpeopleop[i].value
				}

				if(typeof (this.editableTabs[this.editableTabsValue].showfs) == "undefined" ||
						this.editableTabs[this.editableTabsValue].showfs <= 0){
					this.$notify({title: '提示', message: '可分配为 0 ,请检查是否选择了相关信息!', position: 'top-left', type: 'error'});
					return;
				}else{
					this.editableTabs[this.editableTabsValue].standbyffs = this.editableTabs[this.editableTabsValue].showfs;
					this.editableTabs[this.editableTabsValue].dialogVisible = true;
				}
			},
			// 删除成员
			deleteRow(index, rows) {
				rows.splice(index, 1);
			},
			// 是否确定关闭弹窗
			handleClose(done) {
				this.$confirm('是否取消填写？').then(_ => {done();}).catch(_ => {});
				this.editableTabs[this.editableTabsValue].showfs = this.editableTabs[this.editableTabsValue].xmfs
				for (let i in this.editableTabs[this.editableTabsValue].xmpeopleop) {
					this.editableTabs[this.editableTabsValue].showfs = this.editableTabs[this.editableTabsValue].showfs - this.editableTabs[this.editableTabsValue].xmpeopleop[i].value
				}
			},
			// 是否确保信息无误与填写完整
			async handleCheckedCitiesChange() {
				if (!await this.isSubmit()) {
					this.isChecked = false;
					this.qr = false;
					return;
				}
				this.qr = !this.qr
			},
			async commit(row) {
				await this.submit();
			},
			async submit(){

				let successfulRequests = 0; // 成功的请求数量
				var item = sessionStorage.getItem("user");
				var parse = JSON.parse(item);
				var id = parse.user.id;
				const now = new Date();
				const year = now.getFullYear(); // 年
				const month = (now.getMonth() + 1).toString().padStart(2, '0'); // 月 (月份从 0 开始，需要加 1)
				const day = now.getDate().toString().padStart(2, '0'); // 日
				const hours = now.getHours().toString().padStart(2, '0'); // 小时
				const minutes = now.getMinutes().toString().padStart(2, '0'); // 分钟
				const seconds = now.getSeconds().toString().padStart(2, '0'); // 秒
				const formattedDateTime = `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
				for (let i = 0; i < this.editableTabs.length; i++) {
					var formData = new FormData();
					//项目名称  String
					formData.append("name",this.editableTabs[i].xmname);
					//批准单位   String
					formData.append("department",this.editableTabs[i].xmdepartment)
					//文件上传
					this.editableTabs[i].fileList.forEach(file=>{
						formData.append("file",file.raw)
					})
					//申请人id
					formData.append("id",id);
					formData.append("date",formattedDateTime);
					//备案ID   id
					formData.append("recordId",this.editableTabs[i].xmRecord)
					//备注  String
					formData.append("remark",this.editableTabs[i].xmremark)
					//项目childid
					formData.append("leid",this.editableTabs[i].Lname.leid)
					//验收 立项  []
					formData.append("xmlory",this.editableTabs[i].xmlory)
					//是否可以换钱
					formData.append("cash",this.editableTabs[i].Lname.cash);
					if (this.editableTabs[i].oneorteam==0){
						// 姓名，id 分数 ；
						formData.append("xmpeople",this.editableTabs[i].nowPeople+","+id+"::"+this.editableTabs[i].xmfs);
					}else if (this.editableTabs[i].oneorteam==1){
						const xmPeopleArray = this.editableTabs[i].xmpeopleop.map(item => `${item.name}::${item.value}`).join(';');
						//个人申请  21020440336 20000  21020440101 30000
						formData.append("xmpeople",xmPeopleArray+";"+this.default_options.value+"::"+this.editableTabs[i].inputScore);
					}
					formData.append("lname",this.editableTabs[i].Lname.lname);
					axios.post("../scientificApplyInfo/addScientificApply",formData).then(res=>{
						if (res.data.code==1){
							this.$notify({
								title: '',
								dangerouslyUseHTMLString: true,
								message: '<p style="color: #33ce0c;margin-top: -5px;font-weight: bold">提交成功！</p>',
								position: 'top-left'
							});
							if (this.editableTabs.length > 1){
								this.removeTab(i);
							}
							successfulRequests++; // 增加成功请求的数量
						} else {
							this.allSuccess = false
							this.$notify({
								title: '',
								dangerouslyUseHTMLString: true,
								message: '<p style="color: red;margin-top: -5px;font-weight: bold">'+res.data.msg+'</p>',
								position: 'top-left'
							});
						}
					})
				}
				if ((successfulRequests === this.editableTabs.length || this.editableTabs.length == 1) && this.allSuccess) {
					setTimeout(() => {
						window.parent.postMessage({url:"project_application/toProject_apply"}, "*");
					}, 3000);
				}
			},
			// 是否能够提交
			async isSubmit() {
				var can = 1;// 0为不可提交 1为可提交
				var errortext = ""
				this.editableTabs.forEach((item, index) => {
					if (!item.xmname) {
						errortext = errortext + item.title + '的项目名称，';
						can = 0;
					}
					if (!item.xmdepartment) {
						errortext = errortext + item.title + '的批准部门，';
						can = 0;
					}
					if (item.oneorteam==1) {
						if (item.xmpeopleop.length<=0){
							errortext = errortext + item.title + '的申请人，';
							can = 0;
						}
					}
					if (item.Lname.length<=0){
						errortext = errortext + item.title + '的项目类型或者细则';
						can = 0;
					}
					if (item.xmlory==''){
						errortext = errortext + item.title + '的立项或者验收';
						can = 0;
					}
				})
				if (can == 0) {
					this.$notify({
						title: '温馨提示',
						message: '系统检测您有以下信息未进行填写：' + errortext + '请填写后再进行提交。',
						position: 'top-left',
						type: 'error'
					});
					return false;
				}
				return true;
			},
			clearSelection(selection){
				let tb = this.$refs['tb' + this.editableTabsValue][0];
				if (selection.length>1){
					tb.clearSelection();
					tb.toggleRowSelection(selection.pop());
				}
				this.editableTabs[this.editableTabsValue].Lname=[]
			},
			handleSelectionChange(selection) {
				if (this.editableTabs[this.editableTabsValue].roles==""){
					this.editableTabs[this.editableTabsValue].Lname = selection[0];
				}
				let tb = this.$refs['tb' + this.editableTabsValue][0];
				if (selection.length > 1) {
					tb.clearSelection();
					tb.toggleRowSelection(selection.pop());
				}
				return;
			},
			handleCurrentChange(selection){
				let tb = this.$refs['tb' + this.editableTabsValue][0];
				tb.clearSelection();
				if (this.editableTabs[this.editableTabsValue].roles==""){
					this.editableTabs[this.editableTabsValue].Lname = selection;
				}
				tb.toggleRowSelection(selection);
			},
			queryRoles() {
				axios.post("../scientificApplyInfo/queryRoles").then(res=>{
					this.secondTableData=res.data.data
				})
			},
			selectChange(){
				if(this.editableTabs[this.editableTabsValue].Lname.length<=0){
					this.$notify({
						title: '', dangerouslyUseHTMLString: true,
						message: '<p style="color: red;margin-top: -5px;font-weight: bold">请先选择项目类别。</p>',
						position: 'top-left'
					});
					this.editableTabs[this.editableTabsValue].xmlory = "";
					return;
				}
				if (this.editableTabs[this.editableTabsValue].oneorteam == 0 ){
					if(this.editableTabs[this.editableTabsValue].xmlory.toString() == "立项"){
						this.editableTabs[this.editableTabsValue].xmfs = parseInt(this.editableTabs[this.editableTabsValue].Lname.foundScore)
					} else if (this.editableTabs[this.editableTabsValue].xmlory.toString() == "验收") {
						this.editableTabs[this.editableTabsValue].xmfs = parseInt(this.editableTabs[this.editableTabsValue].Lname.checkScore)
					} else if (this.editableTabs[this.editableTabsValue].xmlory.toString() == "立项,验收") {
						this.editableTabs[this.editableTabsValue].xmfs = parseInt(this.editableTabs[this.editableTabsValue].Lname.checkScore) + parseInt(this.editableTabs[this.editableTabsValue].Lname.foundScore)
					} else if (this.editableTabs[this.editableTabsValue].xmlory.toString() == "验收,立项") {
						this.editableTabs[this.editableTabsValue].xmfs = parseInt(this.editableTabs[this.editableTabsValue].Lname.checkScore) + parseInt(this.editableTabs[this.editableTabsValue].Lname.foundScore)
					}
				}
			}
		},
		computed: {
			//处理备案
			getxmRecord(){
				const foundItem = this.Recordoptions.find(item => item.value === this.editableTabs[this.editableTabsValue].xmRecord);
				if (foundItem) {
					return foundItem.label;
				} else {
					return '';
				}
			}
		}
	})
</script>
</body>
</html>