<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="common/header :: head">
    <style type="text/css">
        *{
            height: 100px;
        }
        html{
            width: 1000px !important;
            height: 500px !important;
        }
    </style>
</head>

<!-- 修改密码 -->
<body>
<div id="wrapper" v-cloak>
    <div style="width: 400px; margin: 90px auto;background-color:rgba(100,149,237,0.5); border-radius: 10px;">
        <div style="width: 100%; height: 125px; color: #eee; font-size: 30px;line-height: 125px; text-align: center">修改密码</div>
        <div style="width: 100%; height: 350px; text-align: center">
<!--            <input v-model="user.password" type="password" style="border: 1px solid #ccc; height: 50px; padding: 10px; width: 80%; font-size: 16px;" placeholder="请输入原密码">-->
            <el-input v-model="password" style="width: 80%" placeholder="请输入原密码" show-password></el-input>
            <div style="width: 80%; margin-top: 20px; margin-left: 10%; text-align: left;line-height: 20px">新密码，以字母开头，长度在8~18之间，包含字母、数字和特殊符号</div>
            <el-input id="NewPassword" v-model="OldPassword" style="width: 80%; margin-top: 20px;" placeholder="请输入新密码" show-password></el-input>
            <el-input id="OldPassword" @blur="onBlur" v-model="NewPassword" style="width: 80%; margin-top: 20px;" placeholder="确认密码" show-password></el-input>
            <button @click="compare" style="height: 40px; padding: 10px; width: 50%; margin-top: 50px; background-color: steelblue; color: white">确定</button>

<!--            <input id="NewPassword" v-model="OldPassword" type="password" style="border: 1px solid #ccc; height: 40px; padding: 10px; width: 80%; margin-top: 20px" placeholder="请输入新密码">-->
<!--            <input id="OldPassword" @blur="onBlur" v-model="NewPassword" type="password" style="border: 1px solid #ccc; height: 40px; padding: 10px; width: 80%;  margin-top: 20px" placeholder="确认密码">-->
<!--            <button @click="compare" style="height: 40px; padding: 10px; width: 50%; margin-top: 25px; background-color: steelblue; color: white">确定</button>-->
        </div>
    </div>
</div>
<script type="text/javascript">
    new Vue({
        el: "#wrapper",
        data: {
            user: {},
            password:'',
            NewPassword: '',
            OldPassword: '',
        },
        methods: {
            onBlur: function () {
                if ($('#NewPassword').val() != $('#OldPassword').val()) {
                    this.$message({message: "两次输入密码不一致", type: "error"});
                }
            },
            compare() {
                this.user.username = JSON.parse(sessionStorage.getItem("user")).user.username;
                if (!this.password) {
                    this.$message({message: "请输入旧密码再提交", type: "error"});
                    return;
                }
                if (!$('#NewPassword').val()) {
                    this.$message({message: "请输入新密码再提交", type: "error"});
                    return;
                }
                if (!$('#OldPassword').val()) {
                    this.$message({
                        message: "请确认密码再提交", type: "error"
                    });
                    return;
                }
                var pat = /^[a-zA-Z][a-zA-Z0-9_!@#$%^&*()-+=,.]{5,17}$/;
                if (!pat.test($('#NewPassword').val())) {
                    this.$message({message: "以字母开头,长度在8~18之间,包含字母、数字和特殊符号", type: "error"});
                    return;
                }
                if ($('#OldPassword').val().length < 8) {
                    this.$message({message: "新密码长度不能小于8位", type: "error"});
                    return;
                }
                if ($('#NewPassword').val().length < 8) {
                    this.$message({message: "新密码长度不能小于8位", type: "error"});
                    return;
                }
                let params = new URLSearchParams();
                params.append("username", this.user.username);
                params.append("password", this.password);

                var flag = JSON.parse(sessionStorage.getItem("user")).identity;
                var id = parseInt(JSON.parse(sessionStorage.getItem("user")).user.id);

                if(flag == 0){
                    // 普通用户 systemuser
                    axios.get("systemuser/compare?password=" + this.password + "&id=" + id).then(data => {
                        if(data.data.code == 0){
                            this.$message({message: "旧密码错误，请重新输入!", type: "error"});
                            return;
                        }else{
                            if(this.OldPassword == this.NewPassword){
                                axios.get("systemuser/updatePwd?password=" + this.NewPassword + "&id=" + id).then(data =>{
                                    console.log("begin......")
                                    if(data.data.code == 0){
                                        this.$message({message: "修改密码失败！", type: "error"});
                                        return;
                                    }
                                    this.$message({message: "修改密码成功，即将跳转页面", type: "success"});
                                    setTimeout(() => {parent.changeIndex('index');}, 2000);
                                });
                            }
                        }
                    });
                }else if(flag == 1){
                    // 管理员 governuser
                    axios.get("governuser/compare?password=" + this.password + "&id=" + id).then(data => {
                        if(data.data.code == 0){
                            this.$message({message: "旧密码错误，请重新输入!", type: "error"});
                            return;
                        }else{
                            if(this.OldPassword == this.NewPassword){
                                axios.get("governuser/updatePwd?password=" + this.NewPassword + "&id=" + id).then(data =>{
                                    console.log("begin......")
                                    if(data.data.code == 0){
                                        this.$message({message: "修改密码失败！", type: "error"});
                                        return;
                                    }
                                    this.$message({message: "修改密码成功，即将跳转页面", type: "success"});
                                    setTimeout(() => {parent.changeIndex('index');}, 2000);
                                });
                            }
                        }
                    });
                }
            }
        }
    })
</script>
</body>
</html>
