<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yc.apply.mapper.InventApplyInfoMapper">
    <insert id="insertBatch">
        insert into invent_apply_info(gaid, authorization, stage, name, type, money, according, school, year,
        location_unit, authorize_time, concur_type, school_sign, scope, patent_status,
        power_man, apply_number,apply_time, create_by, create_time)
        values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.gaid}, #{item.authorization}, #{item.stage}, #{item.name}, #{item.type}, #{item.money},
            #{item.according}, #{item.school}, year(now()), #{item.locationUnit}, #{item.authorizeTime}, #{item.concurType},
            #{item.schoolSign}, #{item.scope}, #{item.patentStatus}, #{item.powerMan}, #{item.applyNumber},#{item.applyTime},
             #{user}, now())
        </foreach>
    </insert>
    <insert id="addInvent">
        insert into invent_apply_info (gaid, authorization, stage, name, type, money, according, school, year,
                                       location_unit, authorize_time, concur_type, school_sign, scope, patent_status,
                                       power_man, apply_number, apply_time, create_by, create_time)
        values (#{gaid}, #{authorization}, #{stage}, #{name}, #{type}, #{money},
                #{remarks}, #{school}, year(now()), #{locationUnit}, #{authorizeTime}, #{concurType},
                #{firstSign}, #{scope}, #{patentStatus}, #{pid}, #{applyNum}, #{applyTime}, #{createBy}, now())
    </insert>
    <update id="changeScore">
        update score_apply_info
        set can_score = #{score}
        where gaid = #{gaid}
          and sysid = #{sid}
    </update>
    <select id="selectByPage" resultType="com.yc.apply.entity.InventApplyInfo">
        select *
        from invent_apply_info ${ew.customSqlSegment}
    </select>
    <!--共同字段：项目发表时间，是否批量加入，备注，项目状态，申请人名称，是否团队申请，备案名称-->
    <!--专利主键，专利申请号，专利阶段，专利名称，专利类型，转让金额，专利计分，是否可以换钱-->
    <select id="queryPaperHisPage" resultType="com.yc.vo.standard.InventHisPage">
        SELECT
        distinct iai.iaid,
        iai.school,
        iai.year,
        iai.location_unit,
        iai.authorize_time,
        iai.concur_type,
        iai.school_sign,
        iai.scope,
        iai.patent_status,
        ( select nickname from systemuser where id = iai.power_man) as power_man,
        iai.apply_number,
        iai.authorization,
        iai.stage,
        iai.name,
        iai.type,
        iai.money,
        iai.gaid,
        iai.apply_time,
        <if test='status == "-1"'>
            ga.rejection,
        </if>
        case when ga.recordid is not null then null
        else (select r.team_id from record r where r.id = ga.recordid) end team_id,
        (select count(pfid) from prove_file where useid = ga.gaid) file_num,
        (select tname from labeldept where tid = (select tid from systemuser where id = ga.sid)) user_dept,
        (SELECT GROUP_CONCAT(CONCAT((select nickname from systemuser where id =
        sai.sysid),'::',IFNULL(can_score,0),'::',IFNULL(sai.cannot_score,0),'::',sai.`host`))
        FROM score_apply_info sai WHERE ga.gaid = sai.gaid) scoreInfo,
        ( SELECT cash FROM (SELECT cash, max( score ) FROM invent_standard iss
        WHERE FIND_IN_SET( iss.iid, ga.childid )) s) cash,
        ga.sid,
        ga.according,
        ga.date time,
        ga.remarks,
        (select lname from tech_results_level where leid = (select leid from invent_standard where iid = ga.childid))
        level,
        case when ga.status = 0 then '初审'
        when ga.status = 1 then '复审'
        when ga.status = 2 then '认可'
        when ga.status = -1 then '不认可'
        else NULL end status,
        ( SELECT s.nickname FROM systemuser s WHERE s.id = ga.sid ) username,
        CASE WHEN ga.team = 1 THEN '是'
        WHEN ga.team = 0 THEN '否' ELSE NULL
        END team,
        ga.team,
        CASE WHEN ga.recordid IS NULL then NULL ELSE (
        SELECT r.`name` FROM record r WHERE ga.recordid = r.id AND r.`status` = 1
        AND (( ga.team = 1 and find_in_set(ga.sid,r.team_id))
        OR ( ga.team = 0 AND ga.sid = r.team_id )))
        END rname,
        ga.recordid
        FROM
        invent_apply_info iai,
        gain_apply ga,
        record r
        WHERE
        iai.gaid = ga.gaid
        AND ga.trtid = 6
        and ((ga.recordid = r.id
        and r.`status` = 1 AND find_in_set(ga.sid,r.team_id) and (
        ga.team = 1 or ga.team = 0) ) or ga.recordid is NULL)
        <include refid="commonConditions"></include>
        ORDER BY
        ga.date DESC
        <if test='begin != "-1" and size != "-1"'>
            LIMIT #{begin},#{size}
        </if>
    </select>
    <select id="queryCount" resultType="java.lang.Long">
        SELECT
        count(distinct iai.iaid)
        FROM
        invent_apply_info iai,
        gain_apply ga,
        record r
        WHERE
        iai.gaid = ga.gaid
        AND ga.trtid = 6
        and ((ga.recordid = r.id
        and r.`status` = 1 AND find_in_set(ga.sid,r.team_id) and (
        ga.team = 1 or ga.team = 0) ) or ga.recordid is NULL)
        <include refid="commonConditions"></include>
    </select>

    <sql id="commonConditions">
        <if test='status != "-2" and status != null and status != ""'>
            and find_in_set(ga.`status` , #{status})
        </if>
        <if test='dept!="" and dept != null and isDept == "1" and identifier == "1" and ((query == "0") or ((query == null or query == "") and deptName == "学科建设与发展规划处"))'>
            AND FIND_IN_SET(
            #{dept},(
            SELECT
            GROUP_CONCAT( ii.posit )
            FROM
            invent_standard ii
            WHERE
            FIND_IN_SET( ii.iid, ga.childid )))
        </if>
        <if test='years != null and years != ""'>
            AND find_in_set(year(ga.date),#{years})
        </if>
        <if test='college!=null and college != "" and isDept == "1" and identifier == "1" and query == "0"'>
            AND #{college} = (select tid from governuser where id = #{userId})
        </if>
        <if test='dept!="" and dept != null and identifier == "1" and isDept == "0"'>
            AND #{dept} = (
            SELECT
            s.tid
            FROM
            systemuser s
            WHERE
            s.id = ga.sid )
        </if>
        <if test='commonLike!="" and commonLike != null'>
            and (iai.`name` LIKE concat( '%', #{commonLike}, '%' )
            OR iai.type LIKE concat( '%', #{commonLike}, '%' ))
        </if>
        <if test='level!="" and level != null'>
            AND FIND_IN_SET(
            #{level},(
            SELECT
            GROUP_CONCAT( trl.lname )
            FROM
            tech_results_level trl
            WHERE
            FIND_IN_SET(
            trl.leid,(
            SELECT
            GROUP_CONCAT( iss.leid )
            FROM
            invent_standard iss
            WHERE
            FIND_IN_SET( iss.iid, ga.childid )))))
        </if>
        <if test='identifier == "0"'>
            AND ((FIND_IN_SET(#{userId},(select GROUP_CONCAT( ssai.sysid ) from score_apply_info ssai where ssai.gaid =
            ga.gaid)) and ga.team = 1) or (ga.team = 0 and ga.sid = #{userId}))
        </if>
    </sql>
</mapper>