<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yc.standard.mapper.TechResultsTypeMapper">
    <select id="selectByPage" resultType="com.yc.standard.entity.TechResultsType">
        select *
        from tech_results_type ${ew.customSqlSegment}
    </select>

    <!-- 添加科技项目类别 -->
    <insert id="addTechResultsType">
        insert into tech_results_type(trname, remarks, status, according, create_by, create_time, update_by,
                                      update_time)
        values (#{trname}, #{remarks}, #{status}, #{according}, #{createBy}, now(), #{updateBy}, now())
    </insert>

    <!-- 查询科技项目类别详细信息 -->
    <select id="selectTechResultsType" resultType="com.yc.standard.entity.TechResultsType">
        select trid, trname, status, remarks, according from tech_results_type
        <if test="trname!= null and trname != 'null' and trname != ''">
            where trname like CONCAT('%', #{trname}, '%')
        </if>
    </select>

    <!-- 修改科技项目类别 -->
    <update id="updateTechResultsType">
        update tech_results_type
        set trname      = #{trname},
            remarks     = #{remarks},
            status      = #{status},
            according   = #{according},
            update_by   = #{updateBy},
            update_time = now()
        where trid = #{trid}
    </update>

    <!-- 修改项目级别状态 -->
    <delete id="modifyStatus">
        update tech_results_type
        set status = #{status}
        where trid = #{trid}
    </delete>

    <!-- 查询项目类型名和id -->
    <select id="selectTrname" resultType="com.yc.standard.entity.TechResultsType">
        select trid, trname
        from tech_results_type
        where status = 1
        order by trid asc
    </select>

    <!-- 查询计算依据 -->
    <select id="selectAccording" resultType="java.lang.String">
        select according from tech_results_type where trid = #{trid} and status = 1
    </select>
</mapper>